/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
button a {
    text-decoration: none;
    color: black;
}
button > a,
a:hover {
    color: inherit;
}
code {
    font-family: poppins, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
